.newsletter {
  margin: 3rem auto;
  width: 90%;
  max-width: 20rem;
}

.newsletter h2 {
  text-align: center;
}

.control input {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
}

.newsletter button {
  background-color: #0780d8;
  border: 1px solid #0780d8;
  border-radius: 6px;
  color: #dafff7;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font: inherit;
  cursor: pointer;
}

.newsletter button:hover,
.newsletter button:active {
  background-color: #ff91ac;
  border-color: #ff91ac;
}

.control {
  display: flex;
}

.control input {
  flex: 1;
}
