.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: rgb(255, 244, 205);
  border: 1px solid hotpink;
  border-radius: 6px;
  color: tomato;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  background-color: rgb(228, 251, 245);
  border-color: yellowgreen;
}